/* 
.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  
.fa-user-icon {
  background-color: #D9D9D9;
  border-radius: 5px;
  width: 4vw;
  height: 4vw;
  object-fit: contain; 
}

#username-input {
    width: auto;
  
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  
    background: linear-gradient(90deg, #D9D9D9 39.66%, rgba(217, 217, 217, 0) 128.33%);
    border-radius: 15px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
  }
   */
