.App {
  text-align: center;
  background-color: #1a1a1a; /* тёмный фон */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Стили для кнопок */
button {
  padding: 10px;
  background-color: #4caf50; /* зелёный цвет кнопок */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* добавлены ховер-эффекты */

  &:hover {
    background-color: #45a049; /* изменение цвета при ховере */
  }
}

/* Стили для формы авторизации */
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto; /* выравнивание по центру */
}
